<app-navbarliv></app-navbarliv>

<div class="container">
  <h2>Liste des Commandes</h2>
  <table class="table">
    <thead>
      <tr>
        
        <th scope="col">Numéro Commande</th>
        <th scope="col">État</th>
        <th scope="col">Client Adresse</th>
        <th scope="col">Date</th>
        <th scope="col">Actions</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let commande of commandes">
        <th scope="row">{{ commande._id }}</th>
        
        <td>{{ commande.etat }}</td>
        <td>{{ commande.client.adresse.ville }}{{ commande.client.adresse.region }}{{ commande.client.adresse.rue }}</td>
        <td>{{ commande.date|date }}</td>
        <td>
          <a
            [routerLink]="['/livreur/selectedCommande', commande._id]"
            class="btn btn-info"
          >
            <i class="fas fa-info"></i> Voir les détails
          </a>
          
        </td>
        <td><button class="btn btn-primary " (click)="changeEtat(commande)">
          Change Etat to Livree
        </button></td>
        
          
      </tr>
    </tbody>
  </table>
</div>
