<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img
          src="assets/logo.png"
          height="50"
          width="100"
          alt="Delivery Service Logo"
          routerLink="/home"
          routerLinkActive="active"
        />
      </a>
      
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="'/fournisseur'" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                <i class="fa-solid fa-sign-in"></i> Fournisseur
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="'/livreur'" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                <i class="fa-solid fa-sign-in"></i>  Livreur
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="'/'" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                <i class="fa-solid fa-house"></i> Accueil
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="'/listeProduit'" routerLinkActive="active">
              <i class="fa-brands fa-product-hunt"></i> Produit
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="'/listCommande'" routerLinkActive="active">
              <i class="fa-brands fa-product-hunt"></i> mes commandes
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="'/panier'" routerLinkActive="active">
              <i class="fa-solid fa-cart-plus"></i> Panier
            </a>
          </li>
          <li class="nav-item">
            <a *ngIf="!isLoggedIn" class="nav-link" routerLink="/logIn" routerLinkActive="active">
              <i class="fa-solid fa-sign-in"></i> S'authentifier
            </a>
          </li>
          <li class="nav-item">
            <a *ngIf="isLoggedIn" class="nav-link" (click)="logout()">
              <i class="fa-solid fa-sign-out"></i> Deconnecter
            </a>
          </li>
          
        
          
        
        </ul>
      </div>
    </div>
  </nav>
  